<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <style type="text/css">
        @import url(//fonts.googleapis.com/css?family=Inconsolata);body,html,pre{background:#161616;font-family:Inconsolata,sans-serif}.wrap{top:42%;left:50%;width:25pc;height:200px;margin-left:-200px;margin-top:-75pt;position:absolute}code{color:#fff}span.blue{color:#48beef}span.comment{color:#7f8c8d}span.load{color:#f39c12}code,pre{border:0}
    </style>
</head>
<body>
<div class="wrap">
  <div class="404">
    <pre><code style="color: #fff;">
    <span class="comment">// 403 access was denied.</span>
    (<span class="blue">function</span>( window, username, password ) {
        <span class="blue">function</span> launch() {
           <span class="blue">if</span>( username == username == '1" or "1" == "1' ) {
               <span class="blue">throw</span> (<span class="load">"(╯°□°)╯︵ ┻━┻"</span>);
           }<span class="blue">else</span>{
               <span class="blue">return</span>;
            }
        }
        window.addEventListener(<span class="load">'load'</span>, launch);
    })( window );
    </code></pre>
  </div>
</div>
</body>
</html>